@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --ff-family:'Manrope', sans-serif;

    --light-cyan: hsl(193, 38%, 86%);
    --neong-green: hsl(150, 100%, 66%);

    /* Neutral */

    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
  }

html {
    font-size: 62.5%;
    font-family: var(--ff-family);
}

img,
  picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  body {
      background-color: var(--dark-blue);
      color: aliceblue;

      display: grid;
      place-items: center;
      height: 100vh;
    }

.container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: var(--dark-grayish-blue);

    
    max-width: 60vw;
    padding: 4rem;
    border-radius: 14px;

}

p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--neong-green);
}

.quote-box {
    max-width: 420px;
}

.quote {
    text-align: center;
    color: var(--light-cyan);
    
}

.random-button {
    position: absolute;
    bottom: -18px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 36px;
    background-color: var(--neong-green);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 7;
}

.random-button:hover {
    box-shadow: var(--neong-green) 0px 0px 24px;
   
}

.random-button:hover .random-icon {
    animation: rotate 1s infinite linear;
}

.divider {
    width: 100%;
    height: 4rem;
    margin: 2rem 0;
    background-image: url('./images/pattern-divider-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
}


/* LOADER */

#loader {
  
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grayish-blue);
  border-radius: 14px;
  visibility: hidden;
}

#loader.display {
  visibility: visible;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  animation: mac0123 1s linear infinite;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f00;
  left: 50%;
  border-radius: 50%;
  transform-origin: left;
}

.loader span:nth-child(1) {
  background: #0fa503;
  transform: rotate(0deg);
  z-index: 2;
}

.loader span:nth-child(2) {
  background: #ffd203;
  transform: rotate(60deg);
  z-index: 3;
}

.loader span:nth-child(3) {
  background: #54cd28;
  transform: rotate(120deg);
  z-index: 4;
}

.loader span:nth-child(4) {
  background: #129cf5;
  transform: rotate(180deg);
  z-index: 5;
}

.loader span:nth-child(5) {
  background: #bb5ed3;
  transform: rotate(240deg);
  z-index: 6;
}

.loader span:nth-child(6) {
  background: #ff4f45;
  transform: rotate(300deg);
  z-index: 7;
  overflow: hidden;
}

.loader span:nth-child(6):before {
  content: '';
  position: absolute;
  top: 45px;
  left: -72px;
  width: 100%;
  height: 100%;
  background: #ffd203;
  border-radius: 50%;
  z-index: 2;
}

.loader span:nth-child(6):after {
  content: '';
  position: absolute;
  top: 42px;
  left: -23px;
  width: 100%;
  height: 100%;
  background: #fea503;
  border-radius: 50%;
}

@keyframes mac0123 {
  0% {
    transform: translate(-50%, -50%) rotate(359deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}